/* TITLES */

.factory-container{
  
padding: 0px 10px 40px;


}
.factory-title {
  font-size: 2.6rem;
  font-weight: 900;
  color: #00ffff;
  text-align: center;
  text-shadow:
    0 0 10px #00ffff,
    0 0 25px rgba(138,43,226,0.6);
}

.factory-subtitle {
  text-align: center;
  margin-top: 12px;
  margin-bottom: 50px;
  color: #bdbdbd;
  font-size: 1.05rem;
  max-width: 720px;
  margin-left: auto;
  margin-right: auto;
}

/* GRID */
.factory-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 24px;
}

/* IMAGE ITEM */
.factory-item {
  position: relative;
  overflow: hidden;
  border-radius: 18px;
}

/* IMAGE */
.factory-item img {
  width: 100%;
  height: 230px;
  object-fit: cover;
  filter: brightness(0.8) contrast(1.05);
  transition: all 0.5s ease;
}

/* OVERLAY TEXT */
.factory-item span {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 14px;
  background: linear-gradient(
    180deg,
    transparent,
    rgba(0,0,0,0.85)
  );
  color: #00ffff;
  font-weight: 600;
  font-size: 0.95rem;
  letter-spacing: 0.5px;
  text-shadow: 0 0 8px rgba(0,255,255,0.6);
}

/* HOVER EFFECT */
.factory-item:hover img {
  transform: scale(1.08);
  filter: brightness(1);
}
