.footer-container {

  border-top: 1px solid rgba(0,255,255,0.3);
  padding: 40px 20px;
  text-align: center;
}

.footer-inner h3 {
  color: #00ffff;
  font-weight: 800;
}

.footer-inner p {
  color: #bdbdbd;
  margin: 6px 0;
}

.footer-inner span {
  color: #777;
  font-size: 0.85rem;
}
