.services-container {
padding: 0px 10px 40px;
  text-align: center;
  align-items: center;
  min-height: 60vh;
}

.services-title {
  font-size: 2.3rem;
  font-weight: 800;
  color: #00ffff;
  margin-bottom: 70px;
  text-shadow:
    0 0 10px #00ffff,
    0 0 30px rgba(138,43,226,0.7);
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 40px;
  max-width: 1100px;
  margin: 0 auto;
}

.service-card {
  background: rgba(255,255,255,0.06);
  backdrop-filter: blur(14px);
  border-radius: 22px;
  padding: 40px 40px;
  transition: all 0.35s ease;
}

.service-card:hover {
  transform: translateY(-12px);
  box-shadow:
    0 0 25px rgba(0,255,255,0.4),
    0 0 50px rgba(138,43,226,0.4);
}

.service-step {
  font-size: 1.4rem;
  font-weight: 700;
  color: #8a2be2;
}

.service-card h3 {
  margin-top: 15px;
  font-size: 1.3rem;
  color: #00ffff;
}

.service-card p {
  margin-top: 12px;
  color: #bdbdbd;
  line-height: 1.6;
}
